@import url(https://fonts.googleapis.com/css?family=Montserrat);
header {
  background-color: #FFFFFF;
  padding: 20px 20px;
}
header .wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 3fr;
}
header .wrapper img {
  width: 60px;
  place-self: center;
}
header .wrapper nav {
  list-style-type: none;
  justify-content: center;
  text-align: center;
  padding: 0;
}
header .wrapper nav li {
  display: inline-block;
}
header .wrapper nav li a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  color: #101010;
}
header .wrapper nav li a:hover {
  color: #cf6299;
}
header .wrapper nav li a.last {
  background-color: #cf6299;
  color: #FFFFFF;
  border-radius: 20px;
}
header .wrapper nav li a.last:hover {
  background-color: #9a9797;
  color: #FFFFFF;
  border-radius: 20px;
}
@media (max-width: 576px) {
  header .wrapper {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
  }
}

footer {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: flex-end;
  background-color: #101010;
  padding: 60px 0px;
}
footer p {
  color: #fff;
  text-align: center;
  justify-self: center;
}
footer img {
  height: 80px;
  max-width: 150px;
  justify-self: end;
}
footer nav {
  justify-self: start;
}
footer nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
}
footer nav a:hover {
  color: #cf6299;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

body {
  background-color: #FFFFFF;
  font-family: "Montserrat";
}
body h1 {
  font-size: 46px;
  color: #101010;
  padding: 15px 0;
  margin: none;
}
@media (max-width: 576px) {
  body h1 {
    font-size: 38px;
  }
}
body h2 {
  font-size: 30px;
  color: #cf6299;
  padding: 10px 0;
  margin: none;
}
@media (max-width: 576px) {
  body h2 {
    font-size: 20px;
  }
}

.about-scss {
  margin: 50px 100px;
}
.about-scss .container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, [col-start] 1fr);
  margin: 30px auto;
}
@media (max-width: 768px) {
  .about-scss .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.about-scss .container .item {
  background-color: #9a9797;
  padding: 40px 30px;
  border-radius: 20px;
}
.about-scss .container .item h3 {
  font-size: 20px;
  color: #101010;
  padding: none;
  margin: none;
  margin-bottom: 10px;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .about-scss .container .item h3 {
    font-size: 18px;
  }
}
.about-scss .container .item p {
  color: #FFFFFF;
}
@media (max-width: 576px) {
  .about-scss .container .item p {
    font-size: 16px;
  }
}
.about-scss .container .item:nth-child(even) {
  background-color: #cf6299;
  padding: 40px 30px;
  border-radius: 20px;
}
.about-scss .container .item:nth-child(even) h3 {
  font-size: 20px;
  color: #101010;
  padding: none;
  margin: none;
  margin-bottom: 10px;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .about-scss .container .item:nth-child(even) h3 {
    font-size: 18px;
  }
}
.about-scss .container .item:nth-child(even) p {
  color: #FFFFFF;
}
@media (max-width: 576px) {
  .about-scss .container .item:nth-child(even) p {
    font-size: 16px;
  }
}

/*# sourceMappingURL=main.css.map */
