@import '_variables';

@mixin item-style($background, $rounded, $title-color, $decription-color) {

  background-color: $background;
  padding: 40px 30px;
  border-radius: $rounded;
  
  h3{
    @include h3($color: $title-color, $padding: none, $margin: none);
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  p{
      color: $decription-color;
      @include min-width(small) {
        font-size: 16px;
      }
  }

}

@mixin h1($size: 46px, $color: $black-color, $padding: 15px 0, $margin: none){
    font-size: $size;
    color: $color;
    padding: $padding;
    margin: none;
    @include min-width(small) {
      font-size: 38px;
    }
}

@mixin h2($size: 30px, $color: $primary-color, $padding: 10px 0, $margin: none){
    font-size: $size;
    color: $color;
    padding: $padding;
    margin: none;
    @include min-width(small) {
      font-size: 20px;
    }
}


@mixin h3($size: 20px, $color: none, $padding: none, $margin: none){
    font-size: $size;
    color: $color;
    padding: $padding;
    margin: none;

    @include min-width(small) {
      font-size: 18px;
    }
}


@mixin rounded-button($color, $text-color, $radius){
  background-color: $color;
  color: $text-color;
  border-radius: $radius;
}


@mixin grid($rows: null, $columns: null, $gap: null, $row-gap: null, $column-gap: null) {
  display: grid;
  gap: $gap;
  row-gap: $row-gap;
  column-gap: $column-gap;
  grid-template-rows: $rows;
  grid-template-columns: $columns;
}

@mixin center-element() {
  display: flex;
  justify-content: center;
  align-items: center;
  }


@mixin min-width($breakpoint) {
  @if ($breakpoint == xsmall) {
    @media (max-width: $breakpoint-xsmall) {
      @content;
    }
  } @else if ($breakpoint == small) {
    @media (max-width: $breakpoint-small) {
      @content;
    }
  } @else if ($breakpoint == medium) {
    @media (max-width: $breakpoint-medium) {
      @content;
    }
  } @else if ($breakpoint == large) {
    @media (max-width: $breakpoint-large) {
      @content;
    }
  } @else if ($breakpoint == xlarge) {
    @media (max-width: $breakpoint-extra-large) {
      @content;
    }
  } @else {
    @error "UNKNOWN MEDIA BREAKPOINT #{$breakpoint}";
  }
}


