@import '_variables';
@import '_mixin';

footer{


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: flex-end;

    background-color: $black;
    padding: 60px 0px ;

    p{
        color: #fff;
        text-align: center;
        justify-self: center;
    }

    img {
        height: 80px;
        max-width: 150px;
        justify-self: end;

       
    }

    nav{

        justify-self: start;

        a{
            display: block;
            padding: 6px 12px;
            text-decoration: none;
            color: $white;
            text-transform: uppercase;

            &:hover{
                color: $primary-color;
            }
        }
    }

}