@import '_variables.scss';
@import '_mixin.scss';
@import url(https://fonts.googleapis.com/css?family=Montserrat);

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}


body{
    h1{
        @include h1();
    }
    h2{
        @include h2();
    }

    background-color: $white-color;
    font-family: $primary-font;

}

img{
    width: 100px;
}


nav{
    list-style-type: none;
    justify-content: center;
    text-align: center;
    padding: 0;
}

