$primary-color: #cf6299;
$secodary-color: #9a9797;
$white: #FFFFFF;
$black: #101010;
$primary-font: 'Montserrat';

$breakpoint-xsmall: 320px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-extra-large: 1300px;

